@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans);

:root {
  --red: #7e1c1c;
}

body {
  background-color: rgb(214, 218, 189);

  background-color: white;
  background-image: url("images/harvey_drawing.jpg");
  background-size: 55%;
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Pixelify Sans;
}

.harvey-drawing {
  align-items: center;
  max-width: 100%;
}

.title {
  color: var(--red);
  margin-top: 0.1em;
  margin-left: 0.5em;
  font-size: clamp(0vw, 2vw, 1.2em);
}

.link_list {
  list-style-type: none;
  margin-left: 65vw;
  margin-top: 8vw;
}

.link_list li:nth-child(even) {
  margin-left: 2em;
}

.link_list li a {
  text-decoration: none;
  margin-bottom: 2em;
  color: var(--red);
  display: flex;
}

.link_list li a p {
  color: black;
}

.link_list li {
  display: flex;
  font-size: clamp(0.4em, 4vw, 1.3em);
}

.link_list li:hover {
  text-decoration: underline;
}

.footer {
  font-size: clamp(0.2em, 2vw, 0.7em);
  margin-right: 20vw;
}

.footer_div {
  justify-content: flex-end;
  display: flex;
}

.background {
  position: relative;
}

.background pre {
  position: absolute;
  right: 3vw;
  top: -3vw;
  font-size: 0.9vw;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}
