@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans);

:root {
  --highlight-color: #b90000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Pixelify Sans;
}

.harvey-drawing {
  align-items: center;
  max-width: 100%;
}

.img_div {
  margin-left: 9em;
  margin-top: 0em;
  max-width: 100%;
  height: auto;
}

.title {
  color: rgb(126, 28, 28);
  margin-top: 1em;
  margin-left: 6em;
}

.footer {
  font-size: 0.7em;
  margin-left: 35vw;
  margin-top: 3em;
}

.main_title {
  margin-top: 1em;
  margin-left: 2em;
  color: rgb(134, 43, 43);
}

.flex-container {
  display: flex;
}

.link_list {
  list-style-type: none;
}

.list_item {
  display: flex;
  margin: 2em 15vw;
}

.list_item p {
  min-width: 5vw;
}

.first_item {
  margin-top: 5em;
}

.list_item p,
.a_item {
  font-size: clamp(0.5em, 2vw, 3em);
}

@media screen and (max-width: 600px) {
  .list_item {
    margin-left: 15vw;
  }
}

@media screen and (max-width: 500px) {
  .flex-container {
    display: block;
  }

  .img_div {
    margin-bottom: 0px;
  }

  .list_item {
    margin-top: 0vw;
  }

  .list_item {
    margin-top: 0vw;
  }

  .first_item {
    margin-top: 1em;
  }

  .title {
    font-size: 2vw;
  }

  .footer {
    font-size: 1vw;
  }
}

.a_item {
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.list_item:hover {
  text-decoration: underline;
}

.a_item:hover {
  text-decoration: underline;
}
