@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans);

:root {
  --highlight-color: #b90000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Pixelify Sans;
}
