@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans);

:root {
  --highlight-color: #b90000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Pixelify Sans;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 1em;
  display: inline-block;
}

.temp {
  text-align: center;
  margin-top: 5em;
}

a:hover {
  text-decoration: underline;
}
